---
layout: default
nav: admin
nav-style: system-admin
title: "System Data: Tests, Panels & Bundles"
---
<div class="mb-2">
  <h1 class="mt-1 md:mt-2 text-2xl leading-8 font-display font-bold tracking-tight text-skin-header sm:text-3xl">Admin: {{ page.title }}</h1>
  <p>Data will be displayed from SYSTEM DATA for review purposes. Administration for these items will be added after launch.</p>
</div>


<div class="bg-skin-page shadow rounded-lg mb-5">
  <nav class="relative z-0 flex divide-x divide-gray-200" aria-label="Tabs">
    <a href="#Bundles" class="text-gray-500 rounded-l-lg hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
      <span>Bundles</span>
      <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
    </a>

    <a href="#Panels" class="text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
      <span>Panels</span>
      <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
    </a>

    <a href="#Tests" class="text-gray-500 hover:text-gray-700 rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
      <span>Tests</span>
      <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
    </a>
  </nav>
</div>


<div class="bg-skin-page shadow rounded-lg mb-5 px-4 py-5" id="Bundles">
  {% assign items_grouped = site.data.tests | group_by: 'BundleName' %}
  <div class="text-xl font-bold text-skin-header mr-2">Bundles ({{ items_grouped.size }})</div>

  <div class="mt-4 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <td colspan="2" class="font-bold text-lg px-3 py-2 pb-0">Bundle Name</td>
                <td class="font-bold text-lg text-right px-3 py-2">Bundle Code</td>
              </tr>
              <tr>
                <th scope="col" class="px-3 py-1 font-normal text-left w-4">&nbsp;</th>
                <th scope="col" class="px-3 py-1 font-normal text-left">Panel Name</th>
                <th scope="col" class="px-3 py-1 font-normal text-right">Panel Code</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for group in items_grouped %}
                {% assign name = group.name %}
                {% assign items_grouped = group.items | group_by: 'PanelName' %}
                {% capture itemlist %}
                {% for item in items_grouped %}
                <tr class="{% cycle '', 'bg-gray-50' %}">
                  <td class="whitespace-nowrap px-3 py-1 w-4">&nbsp;</td>
                  <td class="whitespace-nowrap px-3 py-1">{{ item.name }}</td>
                  <td class="whitespace-nowrap px-3 py-1 font-mono text-xs text-right">{{ item.PanelCode }}</td>
                </tr>
                {% endfor %}
                {% endcapture %}
                <tr>
                  <td colspan="2" id="r-{{ name | slugify }}" class="border-t-4 font-bold text-lg py-2 px-3">{{ name }}</td>
                  <td class="border-t-4 font-bold px-3 py-2 font-mono text-xs">&nbsp;</td>
                </tr>
                {{ itemlist }}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-skin-page shadow rounded-lg mb-5 px-4 py-5 border-t-8 border-red-600" id="Panels">
  {% assign items_grouped = site.data.tests | group_by: 'PanelName' %}
  <div class="text-xl font-bold text-skin-header mr-2">Panels ({{ items_grouped.size }})</div>

  <div class="mt-4 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <td colspan="2" class="font-bold text-lg px-3 py-2 pb-0">Panel Name</td>
                <td colspan="2" class="font-bold text-lg px-3 py-2 text-right">Panel Code</td>
              </tr>
              <tr>
                <th scope="col" class="px-3 py-1 font-normal text-left w-4">&nbsp;</th>
                <th scope="col" class="px-3 py-1 font-normal text-left">Test Name</th>
                <th scope="col" class="px-3 py-1 font-normal text-right">Test Code</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for group in items_grouped %}
                {% assign name = group.name %}
                {% capture itemlist %}
                {% for item in group.items %}
                {% assign code = item.PanelCode %}
                <tr class="{% cycle '', 'bg-gray-50' %}">
                  <td class="whitespace-nowrap px-3 py-1 w-4">&nbsp;</td>
                  <td class="whitespace-nowrap px-3 py-1">{{ item.TestName }}</td>
                  <td class="whitespace-nowrap px-3 py-1 font-mono text-xs text-right">{{ item.TestCode }}</td>
                </tr>
                {% endfor %}
                {% endcapture %}
                <tr>
                  <td colspan="2" id="r-{{ name | slugify }}" class="border-t-4 font-bold text-lg px-3 py-2">{{ name }}</td>
                  <td class="border-t-4 font-bold px-3 py-2 font-mono text-xs text-right">{{ code }}</td>
                </tr>
                {{ itemlist }}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-skin-page shadow rounded-lg mb-5 px-4 py-5 border-t-8 border-red-600" id="Tests">
  {% assign items_grouped = site.data.tests | group_by: 'TestName' %}
  <div class="text-xl font-bold text-skin-header mr-2">Tests ({{ items_grouped.size }})</div>

  <div class="mt-4 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <td colspan="2" class="font-bold text-lg px-3 py-2 pb-0">Test Name, Panels</td>
                <td colspan="2" class="font-bold text-lg px-3 py-2 text-right">Test Code</td>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for group in items_grouped %}
                {% assign name = group.name %}
                {% capture itemlist %}
                {% for item in group.items %}
                {% assign code = item.TestCode %}
                {{ item.PanelName }} ({{ item.PanelCode }}), 
                {% endfor %}
                {% endcapture %}
                <tr>
                  <td colspan="2" id="r-{{ name | slugify }}" class="border-t-4 font-bold text-lg px-3 py-2">{{ name }} <span class="text-xs text-gray-400 font-normal">{{ itemlist }}</span></td>
                  <td class="border-t-4 font-bold px-3 py-2 font-mono text-xs text-right">{{ code }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>