---
layout: default
nav: history
title: "Functional Health Lab Test History"
---
{% include page-header.html navname="History" title=page.title desc="The Blood Test History Report lists the results of your Chemistry Screen and CBC tests side by side with the latest test listed on the left hand side. This report allows you to compare results over time and see where improvement has been made and allows you to track progress." %}

<div class="bg-skin-page shadow rounded-lg mt-5 mb-5">
  <div class="px-4 py-5 sm:p-6">
    <div class="flex items-center">
      <h2 class="text-xl font-bold font-display text-skin-header mr-2">Previous Results</h2>
    </div>
  </div>
  {% include result-history-overview.html %}
</div>

<div class="mt-5 bg-skin-page shadow rounded-lg mb-5">
  <div class="p-4 flex items-center text-sm text-skin-primary opacity-80">
    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" x-description="Heroicon name: solid/calendar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
    </svg>
    Last Report Date: March 7, 2022
  </div>

  <div class="flex flex-col">
    <div class="">
      <div class="inline-block min-w-full align-middle">
        <div class="">
          <table class="min-w-full border-separate" style="border-spacing: 0">
            <thead class="bg-skin-page">
              <tr>
                <th colspan="5" class="sticky top-10 md:top-0 z-10 h-10 bg-skin-page border-t border-skin-primary">
                  {% include search.html placeholder = "Filter tests..." %}
              </th>
              </tr>
              <tr>
                {% include table-head-th.html name="Test" classes="hidden md:table-cell justify-start text-left border-r-2" %}
                {% include table-head-th.html name="Current" classes="" link="results" colspan="2" %}
                {% include table-head-th.html name="2021/10" classes="" link="results-historic" %}
                {% include table-head-th.html name="2021/03" classes="" link="results-historic" %}
              </tr>
            </thead>
            <tbody class="bg-skin-page">
              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Cholesterol, Total</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Cholesterol, Total</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-yellow-200 text-gray-600">
                  182
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-yellow-200 text-gray-600 border-r">
                  <div class="inline-flex items-baseline text-sm font-medium text-red-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Increased by </span>
                    1
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">181</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">168</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">HDL Cholesterol</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">HDL Cholesterol</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-red-200 text-gray-600">
                  34
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-red-200 text-gray-600 border-r">
                  <div class="inline-flex items-baseline text-sm font-medium text-red-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Increased by </span>
                    1
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">33</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">31</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Triglycerides</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Triglycerides</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-yellow-200 text-gray-600">
                  111
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-yellow-200 text-gray-600 border-r">
                  <div class="inline-flex items-baseline text-sm font-medium text-green-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Decreased by </span>
                    4
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">115</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">120</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">LDL-Cholesterol</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">LDL-Cholesterol</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-red-200 text-gray-600">126</td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-red-200 text-gray-600 border-r">-</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">126</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">126</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Non-HDL Cholesterol</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r border-r-2 border-skin-primary">Non-HDL Cholesterol</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-red-200 text-gray-600">148</td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-red-200 text-gray-600 border-r">-</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">148</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">108</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Urine, Gluclose</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Urine, Gluclose</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-green-200 text-gray-600">
                  5.3
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right border-r bg-green-200 text-gray-600">
                  <div class="inline-flex items-baseline text-sm font-medium text-green-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Decreased by </span>
                    .5
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">5.8</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">5.6</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Urine, Gluclose</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Urine, Gluclose</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-lg text-center  border-r font-bold bg-green-200 text-gray-600" colspan="2">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Urine, Ketones</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Urine, Ketones</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-lg text-center  border-r font-bold bg-green-200 text-gray-600" colspan="2">
                  Negative
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">Positive</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Bilirubin</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Bilirubin</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-lg text-center  border-r font-bold bg-green-200 text-gray-600" colspan="2">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">Trace</td>
              </tr>
              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Cholesterol, Total</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Cholesterol, Total</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-yellow-200 text-gray-600">
                  182
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-yellow-200 text-gray-600 border-r">
                  <div class="inline-flex items-baseline text-sm font-medium text-red-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Increased by </span>
                    1
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">181</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">168</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">HDL Cholesterol</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">HDL Cholesterol</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-red-200 text-gray-600">
                  34
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-red-200 text-gray-600 border-r">
                  <div class="inline-flex items-baseline text-sm font-medium text-red-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Increased by </span>
                    1
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">33</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">31</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Triglycerides</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Triglycerides</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-yellow-200 text-gray-600">
                  111
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-yellow-200 text-gray-600 border-r">
                  <div class="inline-flex items-baseline text-sm font-medium text-green-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Decreased by </span>
                    4
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">115</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">120</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">LDL-Cholesterol</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">LDL-Cholesterol</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-red-200 text-gray-600">126</td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-red-200 text-gray-600 border-r">-</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">126</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">126</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Non-HDL Cholesterol</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r border-r-2 border-skin-primary">Non-HDL Cholesterol</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-red-200 text-gray-600">148</td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right bg-red-200 text-gray-600 border-r">-</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">148</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">108</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Urine, Gluclose</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Urine, Gluclose</td>
                <td class="border-b border-skin-primary pl-4 py-2 whitespace-nowrap text-lg text-center  font-bold bg-green-200 text-gray-600">
                  5.3
                </td>
                <td class="border-b border-skin-primary pr-4 py-2 whitespace-nowrap text-right border-r bg-green-200 text-gray-600">
                  <div class="inline-flex items-baseline text-sm font-medium text-green-600 ml-2">
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-4 w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Decreased by </span>
                    .5
                  </div>
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">5.8</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">5.6</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Urine, Gluclose</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Urine, Gluclose</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-lg text-center  border-r font-bold bg-green-200 text-gray-600" colspan="2">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Urine, Ketones</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Urine, Ketones</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-lg text-center  border-r font-bold bg-green-200 text-gray-600" colspan="2">
                  Negative
                </td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-red-100 text-gray-600">Positive</td>
              </tr>

              <tr>
                <td colspan="4" class="md:hidden border-t-2 border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header">Bilirubin</td>
              </tr>
              <tr>
                <td class="hidden md:table-cell border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm font-medium text-skin-header border-r-2 border-skin-primary">Bilirubin</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-lg text-center  border-r font-bold bg-green-200 text-gray-600" colspan="2">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-green-100 text-gray-600">Negative</td>
                <td class="border-b border-skin-primary px-4 py-2 whitespace-nowrap text-sm text-center  border-r bg-yellow-100 text-gray-600">Trace</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="py-6 max-w-xs">
  <div class="text-lg mb-2">Next:</div>
  {% include button.html link="custompak" icon="right" text="View Custom Pak" %}
</div>