---
layout: default
nav-style: admin
title: "Page List"
---

{% include page-header.html navname="Directory" title=page.title desc="" %}

<div class="bg-skin-page shadow rounded-lg mt-5 mb-5">
  <div class="px-4 py-3">
    <span class="inline-block rounded-full bg-green-600 w-4 h-4 mr-2"></span> Approved
    <span class="inline-block rounded-full bg-red-600 w-4 h-4 ml-4 mr-2"></span> Needs Approval
  </div>
  <nav class="h-full overflow-y-auto" aria-label="Directory">
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>Public Pages</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/login" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-green-600 w-3 h-3 mr-2"></span> Public - Login
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/sign-up" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-green-600 w-3 h-3 mr-2"></span> Public - Register
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/email-confirm-email" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <div class="flex justify-start items-center">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> 
            {% include icon.html name="mail" classes="h-5 w-5 mr-1" %} 
            Register - Confirm Email</div>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/password-reset" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> Public - Recover Password
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/password-reset-confirm" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> Public - Recover Password - Confirmed
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/email-pw-recovery" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <div class="flex justify-start items-center">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> 
            {% include icon.html name="mail" classes="h-5 w-5 mr-1" %} 
            Recover Password - Email
            </div>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/password-reset-change" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> Public - Recover Password - Change PW
          </a>
        </li>
      </ul>
    </div>
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>Patient Portal</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/account" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> Account
          </a>
        </li>
      </ul>
    </div>
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>Patient Portal - Dashboards</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/dashboard-new" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Dashboard - No History - QN Incomplete
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/dashboard-questionnaire-complete" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Dashboard - No History - QN Complete, BW not received
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/dashboard-new-results-no-history" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Dashboard - No History - Results Received + 7 days passed
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/dashboard-blood work-requested" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Dashboard - Has History - Time for new blood work
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/dashboard-new-results" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Dashboard - Has History - Results Received + 7 days passed
          </a>
        </li>
      </ul>
    </div>
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>Patient Portal - Questionnaire</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/questionnaire-new" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none text-skin-header px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Questionnaire - New User/Signup
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/questionnaire-new-blood work" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none text-skin-header px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Questionnaire - New Blood Work
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/questionnaire-incomplete" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none text-skin-header px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Questionnaire - Incomplete
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/questionnaire-view" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none text-skin-header px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Questionnaire - View
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/questionnaire" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Questionnaire History
          </a>
        </li>
      </ul>
    </div>
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>Patient Portal - Recommendations</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/results" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Results
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/results-labupdated" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-gray-200 w-3 h-3 mr-2"></span> Results - Lab Updated
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/results-historic" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Results - Historic
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/history" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> History
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/custompak" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Custom Pak
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/location-lookup" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Location Lookup
          </a>
        </li>
      </ul>
    </div>
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>Practitioner Portal</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/hp-home" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Practitioner Home
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/hp-patients" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Patient List
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/hp-adminbar" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Admin Bar
          </a>
        </li>
      </ul>
    </div>
    <div class="relative">
      <div class="z-10 sticky top-0 border-t border-b border-skin-primary bg-skin-border/50 px-3 py-1">
        <h3>System Admin</h3>
      </div>
      <ul role="list" class="relative z-0 divide-y divide-skin-primary">
        <li>
          <a href="{{ site.baseurl }}/admin-users" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> System Admin: Users
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/admin-edit-user" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> System Admin: Add/Edit User
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/admin-tests" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> System Admin: Tests, Panels & Bundles
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/admin-products" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> System Admin: Products
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/admin-questions" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> System Admin: Questions & Answers
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/admin-recommendation-rules" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> System Admin: Recommendation Rules
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/email-new-patient" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <div class="flex justify-start items-center">
            <span class="inline-block rounded-full bg-red-200 w-3 h-3 mr-2"></span> 
            {% include icon.html name="mail" classes="h-5 w-5 mr-1" %} 
            New Patient</div>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/hp-patients-company" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> ??Patient List "Company"
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/hp-patients-program" class="text-skin-link block hover:bg-skin-border/50 focus:outline-none px-3 py-2">
            <span class="inline-block rounded-full bg-yellow-600 w-3 h-3 mr-2"></span> Patient List "Program" - Includes Source (Nrx, UA)
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>