---
layout: default
nav-style: limited
nav: questionnaire
title: "Welcome, Firstname!"
---
{% include page-header.html navname="Health Questionnaire" title=page.title desc="Let's learn more about you so we can provide the best program to optimize your health and reach your goals." %}

<div class="mt-5">
  <div class="shadow rounded-md bg-skin-page">
    <div class="px-4 py-5 sm:p-6 divide-y divide-skin-primary max-w-3xl m-auto">
      {% include questions.html %}
    </div>
  </div>
</div>

<div class="mb-10">&nbsp;</div>
<div class="fixed bottom-0 left-0 md:left-48 right-0">
  <div class="px-4 py-3 bg-skin-page sm:px-6 border-t border-skin-primary">
    {% include button.html text="Save" link="dashboard-new" %}
  </div>
</div>
