---
layout: default
nav: theme
nav-style: admin
title: "Theme Examples"
---
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.4/dist/full.css" rel="stylesheet" type="text/css" />
{% include page-header.html navname="Theme" title=page.title desc="Change the HTML tag's theme on default.html & loggedout.html to switch themes." %}

<div class="bg-skin-page shadow rounded-lg mt-5 mb-5">
  <div class="px-4 py-5 sm:p-6">

    <div class="text-3xl">
      <div class="color-theme-container">
        <template x-for="(ct, index) in colorThemes" :key="index">
            <div class="text-base" x-bind:class="choiceClass(ct)" @click="changeTheme(ct)" x-text="ct"></div>
        </template>
      </div>
    </div>

  </div>
</div>

<h2 class="mt-10 pt-4 mb-6 border-t-8 border-gray-900 text-4xl font-bold font-display text-skin-header">Current Theme</h2>

<div class="bg-skin-page shadow rounded-lg mt-5 mb-5">
  <div class="px-4 py-5 sm:p-6">
    {% include theme-colors.html %}
  </div>
</div>
<div class="bg-skin-page shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h1 class="text-xl font-bold font-display text-skin-header">Typography</h1>

    <div class="text-3xl font-sans">Primary Font</div>
    <p class="text-skin-primary">Is it readable? <span class="text-bold">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Nunc massa ex, dapibus in eros bibendum, molestie dignissim orci. Etiam sollicitudin maximus orci vel dignissim. Donec molestie varius lectus aliquam egestas. Curabitur semper sem metus, vel maximus metus scelerisque nec.</p>

    <div class="text-3xl font-display mt-2 mb-4">Display Font (used for Headers)</div>

    <div class="text-xl font-display">Font Sizes</div>
    <p class="text-xs">text xs</p>
    <p class="text-sm">text sm</p>
    <p class="text-tiny">text tiny</p>
    <p class="text-base border-y border-skin-primary my-2 py-2">text base</p>
    <p class="text-lg">text lg</p>
    <p class="text-xl">text xl</p>
    <p class="text-2xl">text 2xl</p>
    <p class="text-3xl">text 3xl</p>
    <p class="text-4xl">text 4xl</p>
    <p class="text-5xl">text 5xl</p>
    <p class="text-6xl">text 6xl</p>
    <p class="text-7xl">text 7xl</p>
  </div>
</div>
<div class="bg-skin-page shadow rounded-lg mt-5">
  <div class="px-4 py-5 sm:p-6">
    <h1 class="text-xl font-bold font-display text-skin-header">Basic Fields</h1>
    <div class="space-y-4 sm:space-y-3 max-w-3xl m-auto">
      {% include field-text.html name="Text Field" %}
      {% include field-text.html name="Text: Password" type="password" %}
      {% include field-special.html name="Special: Gender" type="gender" %}
      {% include field-special.html name="Special: Birthdate" type="birthdate" %}
      {% include field-special.html name="Special: Address" type="address" %}
    </div>
    <h1 class="border-t mt-4 pt-4 text-xl font-bold font-display text-skin-header">Questionnaire Fields</h1>
    <div class="px-4 py-5 sm:p-6 divide-y divide-skin-primary max-w-3xl m-auto">
      {% include field-checkboxes.html name="Checkboxes" options="New comments,New candidates,Offers" columns=2 %}
      {% include field-checkboxes.html name="Checkbox Selected" options="Option 1,New comments,New candidates,Offers" columns=4 selected=true %}
      {% include field-checkboxes.html name="Checkbox Error" options="Longer names need more space,New comments include more text" error=true %}
      {% include field-radio.html name="Radio" options="Could use some help,Great" %}
      {% include field-radio.html name="Radio Selected" options="A longer option will wrap,New comments,New candidates,Offers" selected=true %}
      {% include field-radio.html name="Radio Error" options="0-2 servings,3-6 servings,More than 7 servings" error=true %}
      {% include field-toggle.html name="Toggle This On?" offLabel="No" onLabel="Yes" %}
    </div>

    <h1 class="border-t mt-4 pt-4 text-xl font-bold font-display text-skin-header">Buttons</h1>
    <div class="mt-6 mb-4">
      <div class="max-w-3xl m-auto">
        {% include button.html text="Register" classes="w-full" link="questionnaire-new" %}
        <br>
        {% include button.html icon="right" link="questionnaire" text="Update Questionnaire" %}
        <br>
        <div>{% include button.html link="results" text="View Full Results" classes="m-auto inline-flex" %}</div>
        <br>
        {% include button.html text="Download PSC Hold" classes="inline-block w-full md:w-1/2" disabled=true %}
      </div>
    </div>

  </div>
</div>


<!-- Not used -->


<h2 class="mt-10 pt-4 mb-6 border-t-8 border-red-600 text-red-600 text-4xl font-bold">Not In Use</h2>

<div class="bg-skin-page shadow rounded-lg mt-5">
  <div class="px-4 py-5 sm:p-6">
    <h1 class="text-xl font-bold font-display text-skin-header">Fields</h1>
    <div class=" max-w-3xl m-auto">
      {% include field-single-select.html %}
      {% include field-range.html name="Range" %}
    </div>
  </div>
</div>

<h2 class="mt-6 text-2xl">Alerts</h2>
<div class="ml-6">
  {% include alert.html headline="Welcome! Please schedule blood work appointment." text="Our program is based on your nutrition needs. Please schedule blood work to get your customized nutrition pak." hasSwitch=true %}
  {% include alert.html headline="Waiting on Results" text="Waiting for results from your blood work..." hasSwitch=false %}
</div>

<h2 class="mt-6 text-2xl">Submenu</h2>
<div class="ml-6">
  <div class="pt-1 pb-5 border-b border-skin-primary sm:pb-0 sticky top-0 z-10 bg-skin-page">
    <div class="mt-3 sm:mt-4">
      <!-- Dropdown menu on small screens -->
      <div class="sm:hidden">
        <label for="current-tab" class="sr-only">Select a tab</label>
        <select id="current-tab" name="current-tab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-accent-primary focus:border-accent-primary sm:text-sm rounded-lg">
          <option selected>Results</option>
          <option>History</option>
          <option>Custom Pak</option>
          <option>Out of Range</option>
        </select>
      </div>
      <!-- Tabs at small breakpoint and up -->
      <div class="hidden sm:block">
        <nav class="-mb-px flex space-x-4">
          <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-skin-primary opacity-80 hover: hover:border-gray-300" -->
          <a href="#" class="border-accent-primary text-skin-accent-primary whitespace-nowrap pb-2 px-1 border-b-4 font-bold text-sm" aria-current="page"> Results </a>
          <a href="#" class="border-transparent text-skin-primary opacity-80 hover: hover:border-gray-300 whitespace-nowrap pb-2 px-1 border-b-4 text-sm"> History </a>
          <a href="#" class="border-transparent text-skin-primary opacity-80 hover: hover:border-gray-300 whitespace-nowrap pb-2 px-1 border-b-4 text-sm"> Custom Pak </a>
          <a href="#" class="border-transparent text-skin-primary opacity-80 hover: hover:border-gray-300 whitespace-nowrap pb-2 px-1 border-b-4 text-sm"> Out of Range </a>
        </nav>
      </div>
    </div>
  </div>
</div>

<h2 class="mt-6 text-2xl">Tooltip (unfinished)</h2>
<div class="ml-6 py-4 bg-skin-page">
  <button data-tooltip-target="tooltip-default" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Default tooltip</button>
  <div id="tooltip-default" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(270px, -165.5px, 0px);">
  Tooltip content
  <div class="tooltip-arrow" data-popper-arrow="" style="position: absolute; left: 0px; transform: translate3d(58.5px, 0px, 0px);"></div>
  </div>
</div>


<h2 class="mt-6 text-2xl">Charts (unfinished)</h2>
<div class="ml-6">
  <div class="p-10 max-w-md"><canvas id="chartPie"></canvas></div>

  <!-- Required chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Chart pie -->
  <script>
    const dataPie = {
      labels: ["JavaScript", "Python", "Ruby"],
      datasets: [
        {
          label: "My First Dataset",
          data: [300, 50, 100],
          backgroundColor: [
            "rgb(133, 105, 241)",
            "rgb(164, 101, 241)",
            "rgb(101, 143, 241)",
          ],
          hoverOffset: 4,
        },
      ],
    };

    const configPie = {
      type: "pie",
      data: dataPie,
      options: {},
    };

    var chartBar = new Chart(document.getElementById("chartPie"), configPie);
  </script>
</div>