{% if include.type == 'practitioner' %}
      <div class="mt-3 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
          <label for="prac" class="block text-sm font-bold  sm:mt-px sm:pt-2"> {{ include.name }} </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <select id="prac" name="prac" class="mt-1 block w-full pl-3 pr-10 py-2 text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-500">
              <option>Select...</option>
              <option>Dr Name One</option>
              <option>Dr Name Twoger</option>
              <option>Namersomesn Drsomhst</option>
              <option>Dr Name One</option>
              <option>Dr Name Twoger</option>
              <option>Namersomesn Drsomhst</option>
            </select>
          </div>
        </div>
      </div>
{% elsif include.type == 'address' %}
      <div class="mt-3 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
          <div class="block text-sm font-bold  sm:mt-px sm:pt-2"> Address </div>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="bg-skin-page rounded-lg -space-y-px">
              <div>
                <label for="card-number" class="sr-only">Street Address</label>
                <input type="text" name="card-number" id="card-number" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-none rounded-t-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="Street Address" value="{{ include.value }}">
              </div>
              <div class="flex -space-x-px">
                <div class="w-3/5 flex min-w-0">
                  <label for="card-expiration-date" class="sr-only">City</label>
                  <input type="text" name="card-expiration-date" id="card-expiration-date" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-none rounded-bl-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="City" {% if include.value %}value="Cityname"{% endif %}>
                </div>
                <div class="flex-1 min-w-0">
                  <label for="card-cvc" class="sr-only">Zip</label>
                  <input type="number" name="card-cvc" id="card-cvc" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-none rounded-br-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="Zip Code" maxlength="5" {% if include.value %}value="00000"{% endif %}>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% elsif include.type == 'birthdate' %}
      <div class="mt-3 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
          <label for="gender" class="block text-sm font-bold  sm:mt-px sm:pt-2">{{ include.name }}</label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">

              <div class="flex -space-x-px">
                <div class="flex min-w-0">
                  <label for="bdaymonth" class="sr-only">Month</label>
                  <input type="number" maxlength="2" name="bdaymonth" id="bdaymonth" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-none rounded-l-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="MM" {% if include.value %}value="03"{% endif %}>
                </div>
                <div class="flex min-w-0">
                  <label for="bdayday" class="sr-only">Day</label>
                  <input type="number" maxlength="2" name="bdayday" id="bdayday" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-none bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="DD" {% if include.value %}value="28"{% endif %}>
                </div>
                <div class="flex min-w-0">
                  <label for="bdaymonth" class="sr-only">Year</label>
                  <input type="number" maxlength="2" name="bdaymonth" id="bdaymonth" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full rounded-none rounded-r-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="YYYY" {% if include.value %}value="2001"{% endif %}>
                </div>
              </div>
          </div>
        </div>
      </div>
{% elsif include.type == 'weight' %}
<div class="mt-3 space-y-6 sm:space-y-5">
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
    <label for="{{ include.name | slugify }}" class="block text-sm font-bold sm:mt-px sm:pt-2">{{ include.name }} (Lbs)</label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="flex items-center">
        <div class="flex min-w-0 mr-2">
          <input type="number" maxlength="2" name="heightft" id="heightft" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-24 rounded-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="Weight" {% if include.value %}value="{{ include.value }}"{% endif %}>
        </div>
        <div class="">
          Lbs
        </div>
      </div>
    </div>
  </div>
</div>
{% elsif include.type == 'height-fields' %}
      <div class="mt-3 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
          <label for="gender" class="block text-sm font-bold  sm:mt-px sm:pt-2"> Height </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">

              <div class="flex -space-x-px">
                <div class="flex min-w-0">
                  <label for="{{ include.name | slugify }}ft" class="sr-only">Feet</label>
                  <input type="number" maxlength="1" name="heightft" id="heightft" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-24 rounded-none rounded-l-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="Feet" {% if include.value %}value="5"{% endif %} min="3" max="9">
                </div>
                <div class="flex min-w-0">
                  <label for="heightin" class="sr-only">Inches</label>
                  <input type="number" maxlength="2" name="heightin" id="heightin" class="text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-24 rounded-none rounded-r-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-400" placeholder="Inches" {% if include.value %}value="6"{% endif %} min="0" max="11">
                </div>
              </div>
          </div>
        </div>
      </div>
{% elsif include.type == 'height-dropdowns' %}
      <div class="mt-3 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
          <label for="gender" class="block text-sm font-bold  sm:mt-px sm:pt-2"> Height </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">

              <div class="flex -space-x-px">
                <div class="flex min-w-0">
                  <label for="{{ include.name | slugify }}ft" class="sr-only">Feet</label>
                  <select id="{{ include.name | slugify }}ft" name="{{ include.name | slugify }}ft" class="block w-full pl-3 pr-10 py-2 text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full  rounded-none rounded-l-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-500">
                  <option>Select Feet...</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  </select>
                </div>
                <div class="flex min-w-0">
                  <label for="heightin" class="sr-only">Inches</label>
                  <select id="{{ include.name | slugify }}ft" name="{{ include.name | slugify }}ft" class="block w-full pl-3 pr-10 py-2 text-skin-primary focus:ring-skin-button-primary focus:border-skin-button-primary relative block w-full  rounded-none rounded-r-lg bg-transparent focus:z-10 sm:text-sm border-skin-primary placeholder-gray-500">
                  <option>Select Inches...</option>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
      </div>
{% endif %}