<div>
  <label id="range" class="block font-bold text-gray-700">{{ include.name }}</label>
  <input type="range" min="1" max="3" value="1" step="1" class="range range-primary range-sm">
  <div class="w-full flex justify-between text-xs px-2">
    <span>0-2</span>
    <span>3-6 servings</span>
    <span>7+</span>
  </div>
</div>
{% comment %}
<div>
  <label id="range" class="block font-bold text-gray-700">Range</label>
  <input type="range" min="0" max="100" value="25" step="25" class="range range-primary range-sm">
  <div class="w-full flex justify-between text-xs px-2">
    <span>|</span>
    <span>|</span>
    <span>|</span>
    <span>|</span>
    <span>|</span>
  </div>
</div>






<div>
  <label id="range" class="block font-bold text-gray-700">Range</label>
  <div class="">
    <input type="range" list="tickmarks" value="25" min="0" max="100" step="25" class="w-full" id="range">
    <datalist id="tickmarks">
      <option value="0"></option>
      <option value="25"></option>
      <option value="50"></option>
      <option value="75"></option>
      <option value="100"></option>
    </datalist>
  </div>
</div>














    <div className="p-12">
      <div className="w-full px-6">
        <InputRange min={0} max={1000} step={10} initValue= />
        <div className="flex justify-between mt-2 text-xs text-gray-600">
          <span className="w-8 text-left">0%</span>
          <span className="w-8 text-center">25%</span>
          <span className="w-8 text-center">50%</span>
          <span className="w-8 text-center">75%</span>
          <span className="w-8 text-right">100%</span>
        </div>
      </div>
    </div>

<input type="range" min="0" max="100" value="25" class="range" step="25">
<div class="w-full flex justify-between text-xs px-2">
  <span>|</span>
  <span>|</span>
  <span>|</span>
  <span>|</span>
  <span>|</span>
</div>

<div x-data="{ price: 50 }" class="w-1/2">
  <label for="price" class="font-bold text-gray-700" x-text="`Price $` + price"></label>
  <input type="range" min="1" name="price" max="100" x-model="price" class="w-full h-2 bg-skin-button-primary appearance-none" />
</div>


{% endcomment %}