{% assign theme = 'fakeco1' %}
{% assign theme = 'ohs' %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.4/dist/full.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% if theme == 'ohs' %}
<!-- OHS COMPANY THEME ---------------------------------------------- 

$color-brand-green: #297E55; //#008A5E;
$color-brand-green-dark: #195036; //#005D3F;
$color-brand-blue-dark: #324770;//#06488F;
$color-brand-dark-gray: #27201f;
$color-brand-yellow: #F7CD1B;//#FFD51C;
$color-brand-tan: #ECEAE6;

-->
<link rel="stylesheet" href="https://use.typekit.net/ato5yse.css">
<script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        'body': '#F5F4F2',
        'accent-primary': '#324770',
        'button-primary': '#324770',
        'button-primary-hover': '#297E55',
      },
      fontFamily: {
        sans: ['mr-eaves-xl-sans', 'sans-serif']
      },
      fontSize: {
        'xs': '.875rem',
        'sm': '1rem',
        'tiny': '1rem',
        'base': '1.00625rem',
        'lg': '1.06rem',
        'xl': '1.25rem',
        '2xl': '1.75rem',
        '3xl': '2rem',
        '4xl': '2.5rem',
        '5xl': '3.5rem',
        '6xl': '4rem',
        '7xl': '5rem',
      }
    },
  }
}
</script>
<!-- end OHS COMPANY THEME ------------------------------------------ -->
{% endif %}
{% if theme == 'fakeco1' %}
<!-- FAKE COMPANY THEME --------------------------------------------- -->
<script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        'body': '#999999',
        'accent-primary': '#eec42d',
        'button-primary': '#000000',
        'button-primary-hover': '#333333',
      },
      fontFamily: {
        sans: ['Montserrat', 'sans-serif']
      }
    },
  }
}
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,900&display=swap" rel="stylesheet">
<!-- end FAKE COMPANY THEME ------------------------------------------ -->
{% endif %}