{% assign theme = 'fakeco1' %}
{% assign theme = 'unfairadv' %}
{% assign theme = 'ohs' %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />

<script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- OHS FONTS ---------------------------------------------- -->
<link rel="stylesheet" href="https://use.typekit.net/ato5yse.css">
<!-- end OHS FONTS ------------------------------------------ -->
<!-- FAKE FONTS --------------------------------------------- -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,900&display=swap" rel="stylesheet">
<!-- end FAKE FONTS ------------------------------------------ -->
<!-- UNFAIR ADVANTAGE FONTS ------------------------------------------ -->
<style id="custom-css">
@font-face {
  font-family: 'PlusBold';
  src: url('https://tfl-fonts.s3.us-east-2.amazonaws.com/jakarta/PlusJakartaDisplay-Bold.otf');
}
@font-face {
  font-family: 'PlusRegular';
  src: url('https://tfl-fonts.s3.us-east-2.amazonaws.com/jakarta/PlusJakartaText-Light.otf');
}
</style>
<!-- end UNFAIR ADVANTAGE FONTS -------------------------------------- -->

<script type="text/javascript">
function theme() {
    return {
        colorThemes: [
            'theme-ohs',
            'theme-fakeco',
            'theme-unfairadv'
        ],
        themeClass: {},
        choiceClass(className) {
            const classes = {'color-choice': true};
            classes[className] = true;
            return classes;
        },
        changeTheme(className) {
            this.themeClass = this.colorThemes.reduce((allClasses, cn) => {
                allClasses[cn] = className === cn;
                localStorage.setItem('theme-class',className);
                return allClasses;
            }, {});
        },
        getTheme() {
          var initClass = localStorage.getItem('theme-class');
          if (!initClass) {
            initClass = 'theme-ohs';
          }
          return this.themeClass = initClass;
        }
    }
}
</script>