{% capture statuspill %}
{% case include.status %}
  {% when "1" %}
     <div class="inline-block rounded-full bg-yellow-100 text-gray-600 px-3 text-sm">Renewal Pending</div>
  {% when "2" %}
     <div class="inline-block rounded-full bg-gray-100 text-gray-400 px-3 text-sm">Questionnaire Pending</div>
  {% when "3" %}
     <div class="inline-block rounded-full bg-gray-100 text-gray-400 px-3 text-sm">Results Pending</div>
  {% when "4" %}
     <div class="inline-block rounded-full bg-red-100 text-gray-600 px-3 text-sm">Results Ready for Review</div>
  {% when "5" %}
     <div class="inline-block rounded-full bg-gray-100 text-gray-400 px-3 text-sm">Patient Sent Results</div>
  {% else %}
     &nbsp;
{% endcase %}
{% endcapture %}
<tr>
  <td colspan="3" class="md:hidden border-b border-t-2 border-skin-primary px-2 sm:px-4 py-2 whitespace-nowrap text-lg">
    <div class="flex justify-between">
      <a href="{{ site.baseurl }}/results" title="View Patient" class="flex justify-between font-bold text-skin-link hover:text-skin-link/80 hover:underline">{{ include.name }}</a>
      {{ statuspill }}
    </div>
  </td>
</tr>
<tr>
  <td class="hidden md:table-cell border-b border-skin-primary px-2 sm:px-4 py-2 whitespace-nowrap text-lg border-skin-primary border-r-2">
    <a href="{{ site.baseurl }}/results" title="View Patient" class="flex justify-between font-bold text-skin-link hover:text-skin-link/80 hover:underline">
      <div>{{ include.name }}</div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-1 hidden sm:inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
      </svg>
    </a>
  </td>
  <td class="hidden md:table-cell border-b px-2 sm:px-4 py-2 whitespace-nowrap border-skin-primary border-r">{{ statuspill }}</td>
  <td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-lg text-center border-skin-primary border-r">{{ include.orderdate }}</td>
  <td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-lg text-center border-skin-primary border-r {% if include.qdate contains "2021" %}text-gray-300{% endif %}">{{ include.qdate }}</td>
  <td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-lg text-center border-skin-primary border-r {% if include.resultdate contains "2021" %}text-gray-300{% endif %}">{{ include.resultdate }}</td>
</tr>