{% capture statuspill %}
{% case include.status %}
  {% when "1" %}
     <div class="inline-block rounded-full bg-yellow-100 text-gray-600 px-3 text-sm">Renewal Pending</div>
  {% when "2" %}
     <div class="inline-block rounded-full bg-gray-100 text-gray-400 px-3 text-sm">Questionnaire Pending</div>
  {% when "3" %}
     <div class="inline-block rounded-full bg-gray-100 text-gray-400 px-3 text-sm">Results Pending</div>
  {% when "4" %}
     <div class="inline-block rounded-full bg-red-100 text-gray-600 px-3 text-sm">Results Ready for Review</div>
  {% when "5" %}
     <div class="inline-block rounded-full bg-gray-100 text-gray-400 px-3 text-sm">Patient Sent Results</div>
  {% else %}
     &nbsp;
{% endcase %}
{% endcapture %}
<tr>
  <td colspan="3" class="md:hidden border-b border-t-2 border-skin-primary px-2 sm:px-4 py-2 whitespace-nowrap text-lg">
    <div class="flex justify-between">
      <a href="{{ site.baseurl }}/results" title="View Patient" class="flex justify-between font-bold text-skin-link hover:text-skin-link/80 hover:underline">{{ include.name }}</a>
      {{ statuspill }}
    </div>
  </td>
</tr>
<tr>
  <td class="hidden md:table-cell border-b border-skin-primary px-2 sm:px-4 py-2 whitespace-nowrap text-lg border-skin-primary border-r-2">
    <a href="{{ site.baseurl }}/results" title="View Patient" class="flex justify-between font-bold text-skin-link hover:text-skin-link/80 hover:underline">
      <div>{{ include.name }}</div>
      {% include icon.html name="eye" classes="h-6 w-6 ml-1 hidden sm:inline" %}
    </a>
  </td>
  <td class="hidden md:table-cell border-b px-2 sm:px-4 py-2 whitespace-nowrap border-skin-primary border-r">{{ statuspill }}</td>
  {% if include.hpname != "" %}<td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-sm border-skin-primary border-r">{{ include.hpname }}</td>{% endif %}
  {% if include.source != "" %}<td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-sm border-skin-primary border-r">{{ include.source }}</td>{% endif %}
  <td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-lg text-center border-skin-primary border-r">{{ include.orderdate }}</td>
  <td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-lg text-center border-skin-primary border-r {% if include.qdate contains "2021" %}text-gray-300{% endif %}">{{ include.qdate }}</td>
  <td class="border-b px-2 sm:px-4 py-2 whitespace-nowrap text-lg text-center border-skin-primary border-r {% if include.resultdate contains "2021" %}text-gray-300{% endif %}">{{ include.resultdate }}</td>
</tr>