<div class="py-6 md:py-8 bg-white shadow rounded-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base text-skin-accent-primary font-semibold tracking-wide uppercase">{{ include.navname }}</h2>
      <p class="mt-1 md:mt-2 text-2xl leading-8 font-bold tracking-tight text-gray-900 sm:text-3xl">{{ include.title }}</p>
      <p class="mx-auto mt-4 max-w-2xl text-lg text-gray-500 lg:mx-auto leading-4">{{ include.desc }}</p>
    </div>
  </div>
</div>