<h2 class="text-xl font-bold font-display text-skin-header mt-4">Colors - Background</h2>
<div class="grid grid-cols-3 gap-2">
  <div class="p-6 rounded-md bg-skin-body">body</div>
  <div class="p-6 rounded-md bg-skin-page text-skin-primary">page</div>
  <div class="p-6 rounded-md bg-skin-accent-primary text-white">accent-primary</div>
  <div class="p-6 rounded-md bg-skin-button-primary text-white">button-primary</div>
  <div class="p-6 rounded-md bg-skin-button-primary-hover text-white">button-primary-hover</div>
</div>

<h2 class="text-xl font-bold font-display text-skin-header mt-4">Colors - Borders</h2>
<div>
  <div class="p-6 rounded-md border-4 my-2 border-skin-primary">Primary</div>
</div>
<h2 class="text-xl font-bold font-display text-skin-header mt-4">Colors - Text</h2>
<div class="">
  <div class="my-2 text-skin-primary">Primary</div>
  <div class="my-2 text-skin-header text-3xl font-display">Headers</div>
  <div class="my-2"><a href="" class="text-skin-link hover:text-skin-link/80 hover:underline">Links</a></div>
</div>