<table class="min-w-full border-separate" style="border-spacing: 0">
  <thead class="bg-skin-border/50">
    <tr>
      <th colspan="8" class="sticky top-10 md:top-0 z-10 h-10 bg-skin-page border-t border-skin-primary rounded-t-lg overflow-hidden print:hidden">
        {% include search.html placeholder = "Filter..." %}
      </th>
    </tr>
    <tr>
      {% include table-head-th.html name="Email" classes="text-left border-r-2" hidemobile="true" sort="true" sort-active="true" %}
      {% include table-head-th.html name="Status" classes="text-left" hidemobile="true" sort="true" %}
      {% include table-head-th.html name="Patient" classes="text-left" hidemobile="true" sort="true" %}
      {% include table-head-th.html name="Prac." classes="text-left" hidemobile="true" sort="true" %}
      {% include table-head-th.html name="Admin" classes="text-left" hidemobile="true" sort="true" %}
      {% include table-head-th.html name="Created" classes="" sort="true" %}
      {% include table-head-th.html name="Updated" classes="" sort="true" %}
    </tr>
  </thead>
  <tbody class="bg-skin-page">
      {% include one-user-row.html name="Abel Mac Alastair<br>Dr. Namerson Name" status="1" createddate="3/3/2022" updateddate="3/3/2022" prac=1 %}
      {% include one-user-row.html name="Danial Logan" status="1" updateddate="3/1/2022" createddate="2/27/2022" %}
      {% include one-user-row.html name="Fernanda McLean" status="1" createddate="3/1/2022" updateddate="3/2/2022" patient=0 admin=1 %}
      {% include one-user-row.html name="Lourdes Ferguson" status="1" createddate="3/24/2022" updateddate="3/30/2022" patient=0 prac=1 %}
      {% include one-user-row.html name="Loyd Matthews" status="1" updateddate="3/1/2022" createddate="2/38/2022" %}
      {% include one-user-row.html name="Milano Tullius" status="2" createddate="4/1/2022" updateddate="1/1/2021" %}
      {% include one-user-row.html name=" " status="2" createddate="4/5/2022" updateddate="9/22/2021" patient=0 admin=1 %}
      {% include one-user-row.html name="Paula Vidal" status="2" createddate="3/21/2022" updateddate="2/2/2021" %}
      {% include one-user-row.html name="Sabrina Esparza" status="1" updateddate="2/7/2022" createddate="2/1/2022" %}
      {% include one-user-row.html name="Sylvester Washington" status="1" updateddate="3/31/2022" createddate="3/24/2022" %}
  </tbody>
</table>