<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-full font-sans bg-skin-body" x-data="theme()" :class="themeClass" x-init="getTheme()">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>

{% include header-tags.html %}
</head>
<body class="h-full text-skin-primary">


<!-- Replace with your content -->



{{ content }}



<!-- /END Replace with your content -->


</body>
</html>