@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-body: 238, 238, 238;
    --color-accent-primary: 25, 178, 185;
    --color-button-primary: 51, 51, 51;
    --color-button-primary-hover: 102, 102, 102;
    --font: arial;
  }
  .theme-ohs {
    --color-body: 236, 234, 230;
    --color-accent-primary: 41, 126, 85;
    --color-button-primary: 50, 71, 112;
    --color-button-primary-hover: 49, 84, 154;
    --font: mr-eaves-xl-sans;
  }
  .theme-fakeco {
    --color-body: 153, 153, 153;
    --color-accent-primary: 238, 196, 45;
    --color-button-primary: 0, 0, 0;
    --color-button-primary-hover: 51, 51, 51;
    --font: 'Arial Black';
  }
}